.overlay{
    z-index: 100;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
}
body {
    font-family: Arial, sans-serif;
}
  
#game-container {
    text-align: center;
}


.game-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.number-display{
    font-size: 40px;
    font-weight: bold;
}

#keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    max-width: 500px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#keypad .btn {
    font-size: 18px;
    padding: 10px; 
    margin: 5px;
}
@media (hover: none) {
    #keypad .btn:hover,#keypad .btn:active,#keypad .btn:focus{
        background-color: transparent;
        color: #6c757d;
    }
}

